.board{
    display: grid;
    grid-template: repeat(8,1fr)/repeat(8,1fr);
}
.A1{}
.A2{background-color: black;}
.A3{}
.A4{background-color: black;}
.A5{}
.A6{background-color: black;}
.A7{}
.A8{background-color: black;}
.B1{}
.B2{background-color: black;}
.B3{}
.B4{background-color: black;}
.B5{}
.B6{background-color: black;}
.B7{}
.B8{background-color: black;}
.C1{}
.C2{background-color: black;}
.C3{}
.C4{background-color: black;}
.C5{}
.C6{background-color: black;}
.C7{}
.C8{background-color: black;}
.D1{}
.D2{background-color: black;}
.D3{}
.D4{background-color: black;}
.D5{}
.D6{background-color: black;}
.D7{}
.D8{background-color: black;}
.E1{}
.E2{background-color: black;}
.E3{}
.E4{background-color: black;}
.E5{}
.E6{background-color: black;}
.E7{}
.E8{background-color: black;}
.F1{}
.F2{background-color: black;}
.F3{}
.F4{background-color: black;}
.F5{}
.F6{background-color: black;}
.F7{}
.F8{background-color: black;}
.G1{}
.G2{background-color: black;}
.G3{}
.G4{background-color: black;}
.G5{}
.G6{background-color: black;}
.G7{}
.G8{background-color: black;}
.H1{}
.H2{background-color: black;}
.H3{}
.H4{background-color: black;}
.H5{}
.H6{background-color: black;}
.H7{}
.H8{background-color: black;}